<configuration>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd"/>
    <appender name="baselog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>log/base${bySecond}.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/base.log.%d</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d,%m%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.pony" level="info">
        <appender-ref ref="baselog"/>
    </logger>
</configuration>