<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony.dao.DistrictDAO">

    <select id="getAllList" resultType="com.pony.domain.DistrictEntity">
        select `id`,`district_name` as `districtName` from `district`;
    </select>

    <select id="getDistrictById" resultType="com.pony.domain.DistrictEntity">
        select `id`,`district_name` as `districtName` from `district` where id=#{id} ;
    </select>

</mapper>