<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony.dao.PayDAO">

    <sql id="all">
        SELECT `id`, `phone`,`user_id` as `userId`,`out_trade_no` as `outTradeNo`,`trade_no` as `tradeNo`,
        `total_amount` as `totalAmount`, `time`,`update_time` as `updateTime`,
        `out_request_no` as `outRequestNo`, `refund_fee` as `refundFee`,`status`
    </sql>

    <insert id="insert" parameterType="com.pony.domain.PayEntity">
        <selectKey resultType="int" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `pay`(
        `phone`,
        `user_id`,
        `out_trade_no`,
        `trade_no`,
        `total_amount`,
        `time`,
        `update_time`,
        `out_request_no` ,
        `refund_fee`,
        `status`
        )VALUES(
        #{phone},
        #{userId},
        #{outTradeNo},
        #{tradeNo},
        #{totalAmount},
        #{time},
        #{updateTime},
        #{refundFee},
        #{status},
        #{outRequestNo}
        )
    </insert>

    <select id="getPayEntityByOutTradeNo" resultType="com.pony.domain.PayEntity">
        <include refid="all"/>
        from `pay` WHERE `out_trade_no`=#{out_trade_no}
    </select>

    <update id="changeStatusByOutTradeNo" parameterType="java.lang.Integer">
        <include refid="all"/>
        from pay where `out_trade_no`=#{out_trade_no}
    </update>

</mapper>