<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony.dao.TestDAO">

    <select id="getAllTest" resultType="com.pony.domain.TestEntry">
        SELECT `id`,`test`,`tep`  FROM `test_table`
    </select>

    <insert id="insert" parameterType="com.pony.domain.TestEntry">
        <selectKey resultType="int" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `test_table`(
        `test`,
        `tep`
        )VALUES(
        #{test},
        #{tep}
        )
    </insert>


    <select id="getShoppingCartEntryByIds" parameterType="Integer[]" resultType="com.pony.domain.ShoppingCartEntry">
        <include refid="all"/>
        from `shopping_cart`
        WHERE id in<foreach collection="shoppingCartIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>;
    </select>
    <sql id="all">
        SELECT `phone`,`count`,`user_id` as `userId`,`product_id` as `productId`,`time`,
        `address_id` as `addressId`,`cabinet_id` as `cabinetId`,`type`,`stock`
    </sql>
</mapper>